[Desktop Entry]
Type=Application
Name=Cosmic Dynamic Wallpaper Settings
Comment=Configure the Cosmic Dynamic Wallpaper daemon
Exec=cosmic-wallpaper-settings
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Settings;DesktopSettings;COSMIC;
X-CosmicApplet=false
